hostname

clientid
persistent

option rapid_commit
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
option interface_mtu
require dhcp_server_identifier

slaac private
reboot 15
denyinterfaces ethpi* ethupi* ethupi*.10 brint usb0.10 wlan0

profile clusterctrl_fallback_usb0
static ip_address={{ ClusterMasterNodeIp.split(".")[0] }}.{{ ClusterMasterNodeIp.split(".")[1] }}.{{ ClusterMasterNodeIp.split(".")[2] }}.{{ range(10, 230) | random }}{{ ClusterDefaultSubnet }}
static routers={{ ClusterDefaultRouters }}
static domain_name_servers={{ ClusterDefaultDomainNameServers }}

interface usb0
fallback clusterctrl_fallback_usb0