# Ensure SSH access is limited
{% for user in ssh_allowed_users %}
AllowUsers {{ user }}@{{ public_ip_address }} {{ user }}@{{ private_ip_address }}
{% endfor %}
AllowGroups {% for group in ssh_allowed_users %}{{ group }}{% if not loop.last %} {% endif %}{% endfor %}

DenyUsers nobody
DenyGroups nobody
