#########################################################################
# Vous entrez dans un espace securise! Votre IP, heure de connexion,    #
# et nom d'utilisateur ont ete journalises.                             #
# Ce service est reserve aux utilisateurs autorises uniquement.         #
# Toutes les activites sur ce systeme sont enregistrees.                #
# --------------------------------------------------------------------  #
# AVERTISSEMENT: L'acces ou l'utilisation non autorises de ce systeme   #
# entraineront de lourdes sanctions penales et civiles.                 #
#########################################################################

Presser <Ctrl-C> pour quitter...