########################################################################
# Vous entrez dans un espace sécurisé! Votre IP, heure de connexion,   # 
# et nom d'utilisateur ont été journalisés.                            # 
# Ce service est réservé aux utilisateurs autorisés uniquement.        #
# Toutes les activités sur ce système sont enregistrées.               # 
######################################################################## 

Presser <Ctrl-D> pour quitter...

